<!DOCTYPE html>
<!doctype html>
<html>
    <head>
        <title>Book Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
        

    <script type="text/javascript">
            // your JavaScript
    </script>
    </head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Best Book Reviews</h1>
          <p class="lead">Review and rate your favorite books here</p>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 " >
               <p style="text-align: right;">{{who_dis_text}} <a href="{{url_for('login')}}">Log out</a></p> 
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4" >
                <div class="card" style="background-color: azure;">
                    <img class="card-img-top my_card_image img-fluid" src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg"  alt="Fucktard" >
                    <div class="card-body">
                      <p class="card-text" style="text-align: center;"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span> </span>
                        <span class="fa fa-star"></span></p>
                    </div>
                  </div>
                  <!-- <img class="card-img-top my_card_image img-fluid" src="http://covers.openlibrary.org/b/isbn/0765354063-M.jpg"  alt="Fucktard" > -->
                
            </div>
            
            <div class="col-sm-8"  >
                <div class="card" style="background-color: azure;">
                    <div class="card-body">
                       <span id= "checkmark"><i class="fa fa-check-square-o" style="font-size:48px;color:green"></i></span>
                      <h5 class="card-title">{{title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{author}}, {{year}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">ISBN: {{isbn}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Goodreads Reviews: {{n_reviews}}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">Average Goodreads Rating: {{n_ratings}}</h6>
                      <form action="{{url_for('bookpage', isbn = isbn )}}" method="POST">
                           Rate this book: <input type="number" min="1" max="5" name = "rating">
                        <div class="form-group purple-border">
                            <label for="exampleFormControlTextarea4">Leave a Review:</label>
                            <textarea class="form-control" id="exampleFormControlTextarea4" rows="10" name = "review"></textarea>
                        </div>
                            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                     </form>
                      <!-- <a href="#" class="card-link">Card link</a> -->

                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4" >
                <h1>Reviews</h1>
            </div>
        </div>
        <div class="row">        
            <div class="col mt-4" >
                     <div class="card" style="background-color: azure;">
                        <div class="card-body">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                      </div>
            </div>
        </div>

        
    </div>

</body>
</html>
