<!DOCTYPE html>
<!doctype html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Best Book Reviews</h1>
          <p class="lead">Review and rate your favorite books here</p>
        </div>
      </div>
    <div class="container">
    <!-- {% block div %}  
    {% endblock %}
    {% block form %}
    {% endblock %} -->


        <form action="action_page.php">
            <div class="my_container">
                <h2>Login</h2>
                <p>Please log in below:</p>
                <hr>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Choose a Password" name="psw" required>
            
                <button type="submit" class="registerbtn">Register</button>
            </div>
    

    </form> 
    </div>
</body>
</html>

