{% extends "layout.html" %}

{% block div %}  
<div>
    <h1 style="text-align: center; ">This page was loaded  at
    <span style="font-family: 'Orbitron', sans-serif;font-size: 2.0em    ">{{hh}}:{{mm}}</span></h1>
    <p>Click <a href="{{ url_for('index')}}">here</a> to go back to the homepage</p>
</div>
{% endblock %}

{% block form %}
<div style="background-color: lightblue; text-align: center">
	<form action="{{url_for('phorum_phillup')}}" method="post">
		<input type="text" name="firstname" placeholder="Enter your first name">
		<input type="text" name="lastname" placeholder="Enter your last name">
		<input type="text" name="username" placeholder="Enter your last name">
		<input type="email" name="email" placeholder="Enter your last name">
		<button>Submit</button>
	</form>

	<p>The number of registrants is currently  {{name_list_length}}</p>

	<ul>
	{% for a_name in name_list %}
		{% if a_name!=None %}
			<li>{{a_name }}</li>
		{% endif %}
	{% endfor    %}
	</ul>



</div>
{% endblock %}

