<!DOCTYPE html>
<!doctype html>
<html>
    <head>
        <title>Search Books</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Best Book Reviews</h1>
          <p class="lead">Review and rate your favorite books here</p>
        </div>
    </div>
    <div class="container">

        <div class="row mt-4 mb-4">
            <div class="col-sm-8" >
                <h2>Search for a book below</h2>
                <form action="{{url_for('search_books')}}" method="POST">
                  <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by ISBN" name='isbn' value="{{ request.form['isbn'] }}" aria-label="Search">
                  </div>
                  <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by Title" name='title' value="{{ request.form['title'] }}" aria-label="Search">
                  </div>
                  <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by Author" name='author' value="{{ request.form['author'] }}" aria-label="Search">
                  </div>
                  <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="number" min="1000" max="2999" placeholder="Search by Publication Year" name='year' value="{{ request.form['year'] }}" aria-label="Search">
                  </div>
 
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </form>
            </div>
            
            <div class="col-sm-4" >
                {%  if who_dis_text != "" %}
                <p >{{who_dis_text}}<br /> <a href="{{url_for('login')}}">Log out</a></p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <h2></a>Search Results</h2>
        </div>
        {%  if who_dis_text != "" %}
        <div class="row">
            <div><p class="h4">{{info}}</p> </div>
        </div>
        {% endif %}


        <table class = "table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">isbn</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>091432453</td>
                <td>Jane Austen</td>
                <td>Pride and Prejudice</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>21345543</td>
                <td>Jacob Thornton</td>
                <td>Thornton's Adventures</td>
              </tr>

            </tbody>
          </table>
    </div>

</body>
</html>

