<!DOCTYPE html>
<!doctype html>
<html>
    <head>
        <title>Search Books</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Best Book Reviews</h1>
          <p class="lead">Review and rate your favorite books here</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
		    <div class="col-sm-8" >
                
            </div>
            
            <div class="col-sm-4" >
                <p >You are logged in as Anupam Kher. <a href="#">Log out</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" >
                <h2>Search for a book below</h2>
                <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by ISBN" aria-label="Search">
                </div>
                <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by title" aria-label="Search">
                </div>
                <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by author last name" aria-label="Search">
                </div>
                <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" type="text" placeholder="Search by author first name" aria-label="Search">
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</body>
</html>

