<!DOCTYPE html>
<!doctype html>
<html>
    <head>
        <title>JS test page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

    </head>

<body>
<h1>Testing Javascript</h1>
<p id = "a">{{person}} is a good person. The number is {{number}}</p>
<p id = "b"></p>

<p id="checkmark"><i class="fa fa-check-square-o" style="font-size:48px;color:green"></i></p>

<p class = "1-stars"></p>
<p class = "1-stars"></p>

<p class = "2-stars"></p>


<script type="text/javascript">
    // function myFunction() {
    //         let rating = document.getElementById("rating_form").value;
    //         let review = document.getElementById("review_form").value;
    //         const button = document.getElementById("submit_button");


    //         if (rating !== "" && review !== "") {
    //             document.getElementById("checkmark").style.visibility = "visible";
    //             button.disabled = true;
    //             }
    //     }
let flaskvar ={{number}};
if (flaskvar > 0){
    document.getElementById("a").style.color = "green";
    document.getElementById("checkmark").style.visibility = "hidden";
    document.getElementById("b").innerHTML = "Output : " + flaskvar.toString()
} else {
    document.getElementById("a").style.color = "red";
    document.getElementById("checkmark").style.visibility = "visible";
    document.getElementById("b").innerHTML = "Output : " + flaskvar.toString()
}

function colorstars1 {
    let elms = document.getElementsByClassName("1-stars");
    inner_str = "<p><span class=\"fa fa-star checked\"></span>
                        <span class=\"fa fa-star checked\"></span><span class=\"fa fa-star checked\"></span>
                        <span class=\"fa fa-star\"></span> </span>
                        <span class=\"fa fa-star\"></span></p>";
    for(let i = 0; i < elms.length; i++) {
        x[i].innerHTML = inner_str;
        }

}

</script>

</body>
</html>